<h1>Results Overview</h1>

<div class="keep-together">
  <div class="table-title">
    <p>Table 9 | High-impact variants in genes of interest</p>
  </div>
  <table class="table-wide" id="var-overview" style="margin-bottom: 2em;">
    <thead>
      <tr>
        <th>Gene</th>
        <th>HGVS description</th>
        <th>Database identifiers</th>
        <th>Allele frequency</th>
        <th>Hotspot</th>
        <th>Ref</th>
        <th>Alt</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for gene in modules.snv_indels.genes%}
        {% for item in modules.snv_indels.genes[gene] %}
          {% set geneloop = loop %}
          {% if geneloop.first %}
          <tr>
            <td{% if loop.last %} style="border-bottom: 1px solid #809ebf;"{% endif %} rowspan="{{ gene_rows(modules.snv_indels.genes[gene]) }}" class="hl">{{ gene }}</td>
          {% endif %}
          {% for consequence in item.transcript_consequences %}
              {% if not geneloop.first %}
                <tr>
              {% endif %}
              <td{% if loop.last %} style="border-bottom: 1px solid #809ebf;"{% endif %}>{{ consequence.hgvsc }}<br/>{{ consequence.hgvsp }}</td>
              <td{% if loop.last %} style="border-bottom: 1px solid #809ebf;"{% endif %}><small>{{ database_identifiers(item) | join(", ") }}</small></td>
              <td{% if loop.last %} style="border-bottom: 1px solid #809ebf;"{% endif %}>{{ item.FORMAT.AF | float * 100 | round }}%</td>
              <td{% if loop.last %} style="border-bottom: 1px solid #809ebf;"{% endif %}>{{ "yes" if item.is_in_hotspot else "no" }}</td>
              <td{% if loop.last %} style="border-bottom: 2px solid #809ebf;{% endif %} white-space: nowrap">{{ ref_AD(item) }}</td>
              <td{% if loop.last %} style="border-bottom: 2px solid #809ebf;{% endif %} white-space: nowrap">{{ alt_AD(item) | join(", ") }}</td>
              <td{% if loop.last %} style="border-bottom: 2px solid #809ebf;{% endif %} white-space: nowrap">{{ item.FORMAT.DP }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="keep-together">
  <div class="table-title">
    <p>Table 10 | Detected fusion genes</p>
  </div>
  <table class="table-wide" id="fusion-overview" style="margin-bottom: 2em;">
    <thead>
      <tr>
        <th>Fusion name</th>
        <th>Fusion type</th>
        <th class="text-right">Split reads 1</th>
        <th class="text-right">Split reads 2</th>
        <th class="text-right">Discordant mates</th>
        <th class="text-right">Confidence</th>
      </tr>
    </thead>
    <tbody>
      {% for item in modules.fusion %}
      <tr>
        <td>{{ item.gene1}}::{{ item.gene2}}</td>
        <td>{{ item.type }}</td>
        <td class="text-right">{{ item.split_reads1 }}</td>
        <td class="text-right">{{ item.split_reads2 }}</td>
        <td class="text-right">{{ item.discordant_mates }}</td>
        <td class="text-right">{{ item.confidence}}</td>
      </tr>
      {% endfor %}
      <tr>
      </tr>
    </tbody>
  </table>
</div>

<div class="keep-together">
  <div class="table-title">
    <p>Table 11 | Detected reciprocal soft clip events</p>
  </div>
  <table class="table-wide" style="margin-bottom: 2em; width: 30%;">
    <thead>
      <tr>
        <th>Gene</th>
        <th class="text-right">Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FLT3</td>
        <td class="text-right">{{ modules.itd.flt3.table|length }}</td>
      </tr>
      <tr>
        <td>KMT2A</td>
        <td class="text-right">{{ modules.itd.kmt2a.table|length }}</td>
      </tr>
    </tbody>
  </table>
</div>
