<h1>Fusion Detection Results</h1>

{% set figure_idx = metadata.genes_of_interest|length + 1 %}
{% set table_idx = metadata.genes_of_interest|num_tids + 14 %}

<div class="keep-together">
  {% if results.fusion.intersected %}
  <figure>
    <img class="half" src="{{ results.fusion.plots.intersection }}"></img>
    <figcaption>Figure {{ figure_idx }} | Intersected fusion candidates</figcaption>
  </figure>
  <div id="fusion-imgs">
    <img class="fusion" src="{{ results.fusion.plots['star-fusion'] }}"></img>
    <img class="fusion" src="{{ results.fusion.plots.fusioncatcher }}"></img>
  </div>
  <figure>
    <figcaption style="margin-top: -1em;">Figure {{ figure_idx + 1}} | STAR-Fusion (left) and FusionCatcher (right) fusion candidates</figcaption>
  </figure>
  <div class="keep-together">
    <div class="table-title">
      <p>Table {{ table_idx }} | Top 20 intersected fusion candidates</p>
    </div>
    <table class="table-wide">
      <thead>
        <tr>
          <th>Fusion name</th>
          <th>Fusion type</th>
          <th class="text-right">Junction reads count</th>
          <th class="text-right">Spanning fragments count</th>
        </tr>
      </thead>
      <tbody>
        {% for item in results.fusion.tables.intersection.top20 %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.type }}</td>
          <td class="text-right">{{ item.jr_count }}</td>
          <td class="text-right">{{ item.sf_count }}</td>
        </tr>
        {% endfor %}
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
  {% else %}
  <figure>
    <img class="half" src="{{ results.fusion.plots.intersection }}"></img>
    <figcaption>Figure {{ figure_idx }} | STAR-Fusion fusion candidates</figcaption>
  </figure>
  <div class="keep-together">
    <div class="table-title">
      <p>Table {{ table_idx }} | Top 20 STAR-Fusion fusion candidates</p>
    </div>
    <table class="table-wide">
      <thead>
        <tr>
          <th>Fusion name</th>
          <th>Fusion type</th>
          <th class="text-right">Junction reads count</th>
          <th class="text-right">Spanning fragments count</th>
        </tr>
      </thead>
      <tbody>
        {% for item in results.fusion.tables['star-fusion'].top20 %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.type }}</td>
          <td class="text-right">{{ item.jr_count }}</td>
          <td class="text-right">{{ item.sf_count }}</td>
        </tr>
        {% endfor %}
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
