<h1>ITD/PTD Detection Results</h1>

{% if results.fusion.intersected %}
    {% set figure_idx = metadata.genes_of_interest|length + 1 + 1 + 1 %}
{% else %}
    {% set figure_idx = metadata.genes_of_interest|length + 1 + 1 %}
{% endif %}

<div class="keep-together">
  <h2 style="margin-bottom: -.5em;">FLT3 ITD</h2>
  <figure>
    <img src="{{ results.itd.flt3.path }}"></img>
    <figcaption>Figure {{ figure_idx }} | FLT3 ITD detection results</figcaption>
  </figure>
</div>

<div class="keep-together">
  <h2 style="margin-bottom: -.5em;">KMT2A PTD</h2>
  <figure>
    <img src="{{ results.itd.kmt2a.path }}"></img>
    <figcaption>Figure {{ figure_idx + 1 }} | KMT2A PTD detection results</figcaption>
  </figure>
</div>

