<h1>ITD/PTD Detection Results</h1>

<div class="keep-together">
  <h2 style="margin-bottom: -.5em;">FLT3 ITD</h2>
  <figure>
    <img src="{{ modules.itd.flt3.path }}"></img>
    <figcaption>FLT3 ITD detection results</figcaption>
  </figure>
</div>

<div class="keep-together">
  <h2 style="margin-bottom: -.5em;">KMT2A PTD</h2>
  <figure>
    <img src="{{ modules.itd.kmt2a.path }}"></img>
    <figcaption>KMT2A PTD detection results</figcaption>
  </figure>
</div>

