{% set snakemake_version = "7.15.0" %}
<h1>About</h1>
<p>
Hamlet is developed jointly by the Hematology Department and Human Genetics Department of <a href="https://www.lumc.nl/">Leiden University Medical Center</a>.
It is written using the <a href="https://snakemake.readthedocs.io/en/v{{ snakemake_version }}/">Snakemake workflow system (v{{ snakemake_version }})</a>.
The source code can be accessed <a href="https://github.com/LUMC/HAMLET">here</a>.
</p>
<p>Front <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Myeloblast.svg/554px-Myeloblast.svg.png">cover image</a> taken and modified from <a href="https://commons.wikimedia.org/wiki">Wikimedia Commons</a>.
</p>
