<h1>Results Overview</h1>

<div class="keep-together">
  <div class="table-title">
    <p>Table 9 | High-impact variants in genes of interest</p>
  </div>
  <table class="table-wide" id="var-overview" style="margin-bottom: 2em;">
    <thead>
      <tr>
        <th>Gene</th>
        <th>HGVS description</th>
        <th>Database identifiers</th>
        <th>Allele frequency</th>
        <th>Hotspot</th>
        <th>P-value</th>
        <th>Ref | Alt | Total</th>
      </tr>
    </thead>
    <tbody>
      {% for gene in modules.snv_indels.genes%}
        {% for item in modules.snv_indels.genes[gene] %}
          {% set geneloop = loop %}
          {% for consequence in item.transcript_consequences %}
            <tr>
              {% if geneloop.first %}
                <td{% if loop.last %} style="border-bottom: 1px solid #809ebf;"{% endif %} rowspan="{{ geneloop.length }}" class="hl">{{ gene }}</td>
              {% endif %}
              <td{% if loop.last %} style="border-bottom: 1px solid #809ebf;"{% endif %}>{{ consequence.hgvsc }}<br/>{{ consequence.hgvsp }}</td>
              <td{% if loop.last %} style="border-bottom: 1px solid #809ebf;"{% endif %}><small>{{ item.Existing_variation|join(", ") }}</small></td>
              <td{% if loop.last %} style="border-bottom: 1px solid #809ebf;"{% endif %}>{{ item.FORMAT.FREQ }}</td>
              <td{% if loop.last %} style="border-bottom: 1px solid #809ebf;"{% endif %}>{{ "yes" if item.is_in_hotspot else "no" }}</td>
              <td{% if loop.last %} style="border-bottom: 1px solid #809ebf;{% endif %}white-space: nowrap">{{ item.FORMAT.PVAL }}</td>
              <td{% if loop.last %} style="border-bottom: 2px solid #809ebf;{% endif %}white-space: nowrap">{{ item.FORMAT.RD }} | {{ item.FORMAT.AD }} | {{ item.FORMAT.DP }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="keep-together">
  <div class="table-title">
    <p>Table 10 | Top 5 detected fusion genes by supporting reads</p>
  </div>
  <table class="table-wide" style="margin-bottom: 2em;">
    <thead>
      <tr>
        <th>Fusion name</th>
        <th>Fusion type</th>
        <th class="text-right">Junction reads count</th>
        <th class="text-right">Spanning fragments count</th>
      </tr>
    </thead>
  {% if modules.fusion.intersected %}
    <tbody>
      {% for item in modules.fusion.tables.intersection.top20[:5] %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.type }}</td>
        <td class="text-right">{{ item.jr_count }}</td>
        <td class="text-right">{{ item.sf_count }}</td>
      </tr>
      {% endfor %}
      <tr>
      </tr>
    </tbody>
  {% else %}
    <tbody>
      {% for item in modules.fusion.tables["star-fusion"]["top20"][:5] %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.type }}</td>
        <td class="text-right">{{ item.jr_count }}</td>
        <td class="text-right">{{ item.sf_count }}</td>
      </tr>
      {% endfor %}
      <tr>
      </tr>
    </tbody>
  {% endif %}
  </table>
</div>

<div class="keep-together">
  <div class="table-title">
    <p>Table 11 | Detected reciprocal soft clip events</p>
  </div>
  <table class="table-wide" style="margin-bottom: 2em; width: 30%;">
    <thead>
      <tr>
        <th>Gene</th>
        <th class="text-right">Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FLT3</td>
        <td class="text-right">{{ modules.itd.flt3.table|length }}</td>
      </tr>
      <tr>
        <td>KMT2A</td>
        <td class="text-right">{{ modules.itd.kmt2a.table|length }}</td>
      </tr>
    </tbody>
  </table>
</div>
