<h1>Fusion Detection Results</h1>

{% set figure_idx = metadata.genes_of_interest|length + 1 %}
{% set table_idx = metadata.genes_of_interest|num_tids + 14 %}

<div class="keep-together">
  <p>Table {{ table_idx }} | Detected fusion events</p>
  <p>Todo: visualise fusion events</p>
</div>
