{% set snakemake_version = "7.15.0" %}
<h1>About</h1>
<p>
Hamlet is developed jointly by the Hematology Department and Human Genetics Department of <a href="https://www.lumc.nl/">Leiden University Medical Center</a>.
It is written using the <a href="https://snakemake.readthedocs.io/en/v{{ snakemake_version }}/">Snakemake workflow system (v{{ snakemake_version }})</a>.
The source code can be accessed <a href="https://github.com/LUMC/HAMLET">here</a>.
</p>
<p>Front <a href="https://cnx.org/resources/0b2a8ffb53060940faf88f67d502d5e2a0454c06/1907_Granular_Leukocytes.jpg">cover image</a> taken and modified from <a href="https://cnx.org/contents/14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22">The Anatomy & Physiology Book</a> published on <a href="https://cnx.org">OpenStax</a>.
</p>
