{% set gene_expression = modules.expression.get('gene-expression') %}
{% set subtype_prediction = modules.expression.subtype %}

<h1>Expression Analysis Results</h1>

<div class="keep-together">
  <h2> Cell type composition </h2>
  <figure>
    <img src="{{ modules.expression.get('cell-types').get('plot') }}"></img>
  </figure>
</div>

<div class="keep-together">
  <h2> Subtype prediction </h2>
  <p> AML subtype prediction based on AMLmapR</p>
</div>
<table class="table-wide" style="margin-bottom: 2em; width: 50%;" id="AMLmapR">
  <thead>
    <tr>
      <th>Prediction</th>
      <th>Above threshold</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ subtype_prediction.prediction }}</td>
      <td>{{ 'Yes' if subtype_prediction.pass_cutoff else 'No' }}</td>
    </tr>
  </tbody>
</table>

{% if gene_expression %}
  <div class="keep-together">
    <div class="table-title">
    <h2> Gene overexpression </h2>
    <p>Raw and normalized expression levels</p>
    </div>
    <table class="table-wide" style="margin-bottom: 2em; width: 75%;" id="gene-expression">
      <thead>
        <tr>
          <th>Gene</th>
          <th class="text-right">Raw count</th>
          <th class="text-right">Normalized expression</th>
        </tr>
      </thead>
      <tbody>
        {% for gene, results in gene_expression.items() %}
        <tr>
          <td>{{ gene }}</td>
          <td class="text-right">{{ results.raw }}</td>
          {% if results.normalized is none %}
            <td class="text-right">None</td>
          {% else %}
            <td class="text-right">{{ results.normalized | round(2) }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
