{% set table_idx = metadata.genes_of_interest|num_tids + 8 %}
<h1>Expression Analysis Results</h1>

<div class="keep-together">
  <h2> Cell type composition </h2>
  <figure>
    <img src="{{ modules.expression.get('cell-types').get('plot') }}"></img>
  </figure>
</div>

{% set gene_expression = modules.expression.get('gene-expression') %}
{% if gene_expression %}
<div class="keep-together">
  <div class="table-title">
    <p>Table {{ table_idx + 1}} | Gene expression</p>
  </div>
  <table class="table-wide" style="margin-bottom: 2em; width: 50%;" id="gene-expression">
    <thead>
      <tr>
        <th>Gene</th>
        <th class="text-right">Raw count</th>
        <th class="text-right">Normalized expression</th>
      </tr>
    </thead>
    <tbody>
      {% for gene, results in gene_expression.items() %}
      <tr>
        <td>{{ gene }}</td>
        <td class="text-right">{{ results.raw }}</td>
        {% if results.normalized is none %}
          <td class="text-right">None</td>
        {% else %}
          <td class="text-right">{{ results.normalized | round(2) }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
