{% set myeloblast_logo = imgs_dir + "/Myeloblast_logo.png" %}
{% set lumc_logo = imgs_dir + "/lumc-logo.jpg" %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ css_fname }}">
    <title>Hamlet Report Cover</title>
  </head>
  <body>
    <div class="cover">
      <h1>HAMLET</h1>
      <p class="pipeline-subtitle">Acute Myeloid Leukemia mRNA-seq Analysis Pipeline</p>
      <h2>Analysis Report</h2>
      <p class="report-subtitle">Sample '{{ sample_name }}'</p>
      <div class="logo">
        <img src="{{ convert_img_to_base64(myeloblast_logo) }}" height="250"></img>
      </div>
      <p>Version {{ pipeline_version }}<br />Generated on {{ timestamp.strftime('%A, %d %B %Y at %H:%M') }}</p>
      <div class="logo lumc">
        <img src="{{ convert_img_to_base64(lumc_logo) }}" height="40"></img>
      </div>
      <p class="pipeline-trademark">Department of Hematology<br />Leiden University Medical Center</p>
    </div>
  </body>
